{% extends "layouts/base.html" %}

{% block title %} Orders {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  
  <div class="card card-body border-0 shadow table-wrapper table-responsive">       
    <form method="post">
    {% csrf_token %}
      <table class="table table-hover", id="COST">
          <thead>
            <tr>
                <!--<th class="border-gray-200">訂單編號</th>-->
                <th class="border-gray-200"   >YYYY-MM</th>
                <th class="border-gray-200"   style="text-align: right !important;";>TAOBAO</th>
                <th class="border-gray-200"   style="text-align: right !important;";>SHIPPING</th>
                <th class="border-gray-200"  style="text-align: right !important;";>TAX</th>
                <th class="border-gray-200"   style="text-align: right !important;";>OTHERS</th>
                <th class="border-gray-200" style="text-align: right !important;"; >Total Cost</th>

            </tr>
          </thead>
          <tbody>
            
            {% for getdata in COST_DATA %}
            <tr>
                <td><span class="fw-normal" ><a href="cost/{{ getdata.YYYYMM }}">{{getdata.YYYYMM}}</a></span></td>
                <td style="text-align: right !important;";><span class="fw-normal" >{{getdata.TAOBAO}}</span></td>
                <td style="text-align: right !important;";><span class="fw-normal" >{{getdata.SHIP}}</span></td>
                <td style="text-align: right !important;";><span class="fw-normal" >{{getdata.TAX}}</span></td>
                <td style="text-align: right !important;";><span class="fw-normal" >{{getdata.OTHER}}</span></td>
                <td style="text-align: right !important;";><span class="fw-normal" >{{getdata.COST}}</span></td>

            </tr>
            {% endfor %}
          
           

          </tbody>
      </table>
    </form>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
