  <!-- Messages -->

    {% if messages %}
      {% for message in messages %}
        <div style="position:fixed;top:0;z-index:10000;width:100%;border-radius:0;" {% if message.tags %} class="alert alert-icon alert-{{ message.tags }} alert-dismissible fade show mb-0" role="alert" {% endif %}>
          {{ message }}
          <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
      {% endfor %}
    {% endif %}


  

  <!-- End Messages -->